<MudAppBar Color="Color.Transparent" Fixed="false" Elevation="0" Style="border-bottom: 1px solid; border-bottom-color: #EEEEEE; width: 100%" Class="pb-5 ma-0">
    <MudList Clickable="false" Dense="false" DisableGutters="false" Style="width: 100%">
        <MudListItem>
            <div Style="display: flex;">
                <MudButton 
                    Color="Color.Primary"
                    StartIcon="@Icons.Outlined.KeyboardArrowLeft"
                    Variant="Variant.Text"
                    Size="Size.Small"
                    Style="text-transform:none"
                >
                    Física 3° Primaria
                </MudButton>
                <MudSpacer />
                <div style="display: flex; align-items: center;" class="mr-4">
                    <MudIcon Icon="@Icons.Outlined.CloudDone" Style="color: #979797;" Class="mr-2" />
                    <MudText Typo="Typo.body2" Style="color: #979797; font-weight: 400">Todos los cambios guardados</MudText>
                </div>
                <MudIconButton 
                    Icon="@Icons.Filled.MoreVert" 
                    Variant="Variant.Outlined" 
                    Style="border-color: transparent; border-top-color: #EEEEEE; box-shadow: 0px 1px 0.5px 0.5px #EEEEEE" 
                    Size="Size.Medium" 
                />
            </div>

            <MudText Typo="Typo.h5" Class="px-2 mb-n5 fw-bolder">Características de los seres vivos</MudText>
        </MudListItem>
    </MudList>
</MudAppBar>